
    nav{
      position: fixed;
      background: rgba(0, 0, 0, 0.05);
      padding:0px 20px;
    }

    section{
      display: inline-block;
      background-image: url(http://localhost:1313/img/panorama.jpg);
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; 
      overflow: hidden;
      width: 100vw; 
      height: 40vh;
    }
    .box{
      margin-top: 20px;
      height: 1000px;
    }

    .page-title{
      margin-top: 30vh;

    }

    nav li a:hover{
      background: #ef5350;
    }


