
  <!-- jquery --> 
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- materialize -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- lazy loading of images-->
  <script>
    // If the loading attribute is supported, swap data-src for src 
    // Remove lazyload attribute (just to be clean)
    if ('loading' in HTMLImageElement.prototype) {
      const images = document.querySelectorAll('img[loading="lazy"]');
      images.forEach(img => { 
        img.src = img.dataset.src; 
        img.removeAttribute("data-src");
        img.setAttribute('class', img.getAttribute('class').replace("lazyload", "").trim() );
        });
      const sources = document.querySelectorAll('source');
      sources.forEach(source => { 
        source.srcset = source.dataset.srcset; 
        source.removeAttribute("data-srcset");
        });
    } else { 
      // Not supported, move to fall back with lazysizes
      // Dynamically import the LazySizes library
      const script = document.createElement('script');
      script.src = 'https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.0/lazysizes.min.js';
      document.body.appendChild(script);
    }
  </script>
   <!-- materialize init-->
  <script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
    $('.slider').slider({ 
        height : 400, // default - height : 400
    });
    $('.materialboxed').materialbox();
    
 
    // $('.carousel').carousel();
  });
  </script>

  
<script>
       
  $(document).ready(function(){
       
       $(window).scroll(function(){

         if($(window).scrollTop()>280){
           $('nav').addClass('tint');
         }else{
           $('nav').removeClass('tint');
         }

       });

  });

</script>
