<!DOCTYPE html>
<html lang="{{.Site.Params.lang}}">
{{ partial "head.html" .}}
<body>

    {{ partial "nav.html" . }}
    <section class="main-section">     
      <h1 class="center-align grey-text text-lighten-1 page-title">Montboudif</h1>
    </section>
  

    <section class="">  
    <div class="container">
        <h3 class="center-align blue-grey-text text-darken-2" >Bienvenue sur le site de la commune</h3>
        <p class="center-align ">Perché sur le plateau du Cézallier, le village natal du président Pompidou est heureux de vous accueuillir.</p>
        </div>
      <div class="container center-align">
       <img class="responsive-img z-depth-2" src="../../img/frise.jpg">
        
      <p class="center-align ">Quelques une des attractions de notre commune</p>
    </div>
  </section>
  


  <section class="green-section">  
    <div class="container">
      <h3 class="center-align blue-grey-text text-darken-2" >Accès rapide</h3>
  </div>
</section>


  {{ partial "scripts.html" . }}
  <!-- script -->
  
   
</body>
{{ partial "footer.html" . }}
</html>